:root {
  --color-primary-background: #121212;
  --color-secondary-background: #2a2a2a;
  --color-primary-text: #f8f8f8;
  --color-attn-accent: #1db954;
  --color-attn-accent-light: rgba(29, 185, 84, 0.086);
  --color-attn-accent-shadow: rgba(29, 185, 84, 0.08);
  --color-highlight: #3effa8;
  --color-inner-highlight: #3effa839;
  --color-secondary-accent: #65ffc9;

  --font-family-base: "quasimoda", sans-serif;
  --font-size-base: 16px;

  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-primary-text);
  background-color: var(--color-primary-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.formField {
  border: none;
}
